<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{this.currCity.city}}, {{this.currCity.province}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">        
        <div *ngFor="let city of this.cities">
            <button class="dropdown-item" type="button" 
                [attr.data-city-id]="city.id" 
                [attr.data-city]="city.city" 
                [attr.data-province]="city.province" 
                [attr.data-lat]="city.lat" 
                [attr.data-lon]="city.lon" 
                (click)="setCity($event)">{{city.city}}</button>
        </div>
    </div>
</div>

<app-weather-current [currWeather]="this.weatherData.current"></app-weather-current>

<div class="weather-tables">    
    <app-weather-hourly [hourlyWeather]="this.weatherData.hourly"></app-weather-hourly>
    <app-weather-daily [dailyWeather]="this.weatherData.daily"></app-weather-daily>
</div>