<div>
    <h2>Daily Forecast</h2>
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let weather of dailyWeather" >
                <td> {{this.getDate(weather.dt)}} <br><img [attr.src]="this.getIcon(weather)"></td>
                <td>
                    
                    <p class="card-text"><b>Temperature:</b> Max: {{weather.temp.max}}°C Min: {{weather.temp.min}}°C</p>
                    <p class="card-text"><b>Feels Like: </b>  <br> Morning: {{weather.feels_like.morn}}°C  <br> Day: {{weather.feels_like.day}}°C  <br>  Eve: {{weather.feels_like.eve}}°C <br> Night:{{weather.feels_like.night}}°C</p>
                    <p class="card-text"><b>Humidity:</b> {{weather.humidity}}%</p>
                    <p class="card-text"><b>Wind:</b> {{weather.wind_speed}}Km/hr</p>
                    <p class="card-text"><b>Wind Direction:</b> {{weather.wind_deg}}</p>
                    <p class="card-text"><b>Description:</b> {{weather.weather[0].description}}</p>
            
                </td>
            </tr>
        </tbody>
    </table>
</div>

